<div class="card card-default">
  <div class="mt-2 mb-2 card-heading">
    <h6><i class="fa fa-bar-chart-o fa-fw"></i> 売上推移<h6>
  </div>
  <!-- /.card-heading -->
  <div class="card-body">
  <canvas id="client_<%= client.id %>"></canvas>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
