<nav class="col-md-2 col-lg-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/home">
          <i class="fa fa-bar-chart-o fa-fw"></i> 顧客情報一覧
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/issue">
          <i class="fa fa-table fa-fw"></i> 案件確認
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-edit fa-fw"></i> 帳票作成
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/csv/export">
          <i class="fa fa-download fa-fw"></i> CSV出力
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/csv/import">
          <i class="fa fa-files-o fa-fw"></i> CSV取込
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="setting">
          <i class="fa fa-wrench fa-fw"></i> 設定
        </a>
      </li>
    </ul>

    <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>保存されたレポート</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          今月
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          前四半期
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          社会的関与
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          年末販売
        </a>
      </li>
    </ul>
  </div>
</nav>
