<div class="card-body list-group p-0">
    <a href="/client?client_id=<%= client.id%>" class="list-group-item list-group-item-action">
      <i class="fa fa-building fa-fw"></i> 会社情報
    </a>
    <a href="/client" class="list-group-item list-group-item-action">
      <i class="fa fa-check fa-fw"></i> 未対応物件
    </a>
    <a href="/client" class="list-group-item list-group-item-action">
      <i class="fa fa-edit fa-fw"></i> データ取込
    </a>
    <a href="/client" class="list-group-item list-group-item-action">
      <i class="fa fa-files-o fa-fw"></i> データDL
    </a>
    <a href="/client" class="list-group-item list-group-item-action">
      <i class="fa fa-bell fa-fw"></i> アラート情報
    </a>
</div>
<!-- /.card-body -->