// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-signin {
  width: 100%;
  margin: 0 auto;
}

.card {
  width: 100%;
}

p.alert-message {
  padding: 2px;
  font-size: 80%;
}